{% extends 'base.html' %}
{% load static %}

<head>

</head>

{% block shop %}   




    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                                <li><a href="/fruitspage">Fruits</a></li>
                            <li><a href="/vegetablespage">Vegetables</a></li>
                            <li><a href="/meatpage">Meats</a></li>
                            <li><a href="/fastfoodpage">Fast food</a></li>
                            <li><a href="/drinkspage">Drinks</a></li>
                            </ul>
                        </div>
                
						

						
						
						
                        
						
						
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
									
                                         	{% for x in latest %}
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="{{ x.item_photo.url }}" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>{{ x.name }}</h6>
											<span>{{ x.price }}</span>
										</div>
									</a>
									{% endfor %}	
                         
                                    </div>
                                    <div class="latest-prdouct__slider__item">
									
                                         	{% for x in latest %}
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="{{ x.item_photo.url }}" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>{{ x.name }}</h6>
											<span>{{ x.price }}</span>
										</div>
									</a>
									{% endfor %}	
                             
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
				
				
				

                    <div class="row">
					{% for x in page_obj %}

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ x.item_photo.url }}">
                                    <ul class="product__item__pic__hover">
                                       

										<button value="{{ x.id }}"  class="fa fa-shopping-cart add_to "></button>
                                         <!-- <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li> -->
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="shopdetails{{ x.id }}">{{ x.name }}</a></h6>
                                    <h5>${{ x.price }}</h5>
                                </div>
                            </div>
                        </div>
					{% endfor %}

                    </div>
                    <div class="product__pagination">
					
                        {% if page_obj.has_previous %}
						<a href="?allproduct={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}

					{% if page_obj.has_next %}
						<a href="?allproduct={{ page_obj.next_page_number }}">next</a>
					{% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
	{% endblock %}
