{% extends 'base1.html' %}
{% load static %}
<html lang="en">
<head>

</head>
<body>
			{% block green %}
              <!-- greenco-one -->
              <section>
                <div class="container greenco-cont">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <img class="greenco-img" src="{% static './img/Rectangle 19.png' %}">
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <h1 class="greenco-hero-text">7 Steps to staying healthy</h1><br>
                            <p class="greenco-hero-para">Our fortified brown egg comes fresh daily from our various farm locations ,<br>
                                 brimming with healthy goodness and natural proteins, essential vitamins, calcium<br>
                                  and minerals, and  course our  golden yoke hold ...</p><br>
                                  <a class="greenco-hero-link" href="#">Read More</a>
                        </div>
                    </div>
                </div>
              </section>
              <!-- greenco-one -->



            <!-- greenco-two -->
                <section>
                    <div class="container greenco-cont">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <img class="greenco-img" src="{% static './img/Rectangle 19.png' %}">
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <h1 class="greenco-hero-text">7 Steps to staying healthy</h1><br>
                                <p class="greenco-hero-para">Our fortified brown egg comes fresh daily from our various farm locations ,<br>
                                    brimming with healthy goodness and natural proteins, essential vitamins, calcium<br>
                                    and minerals, and  course our  golden yoke hold ...</p><br>
                                    <a class="greenco-hero-link" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    </section>
            <!-- greenco-two -->



            <!-- greenco-three -->
                        <section>
                            <div class="container greenco-cont">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6">
                                        <img class="greenco-img" src="{% static './img/Rectangle 19.png' %}">
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h1 class="greenco-hero-text">7 Steps to staying healthy</h1><br>
                                        <p class="greenco-hero-para">Our fortified brown egg comes fresh daily from our various farm locations ,<br>
                                            brimming with healthy goodness and natural proteins, essential vitamins, calcium<br>
                                            and minerals, and  course our  golden yoke hold ...</p><br>
                                            <a class="greenco-hero-link" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            </section>
            <!-- greenco-three -->


               <!-- distribte -->
    <section>
        <div class="container distribte1">
            <div class="row">
                <div class="col">
                    <p class="distribte2">Nationwide distribution </p><br>
                    <h2 class="distribte3">Where to Buy the products</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-sm-4 ">
                    <div class="media">
                        <img src="{% static './img/Vector (1).png' %}" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0 distribte4">Shoprite Mall, ikeja</h5>
                         <a href="#"><span class="distribte5">visit store</span></a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="media">
                        <img src="{% static './img/Vector (1).png' %}" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0 distribte4">Shoprite Mall, ikeja</h5>
                         <a href="#"><span class="distribte5">visit store</span></a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="media">
                        <img src="{% static './img/Vector (1).png' %}" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0 distribte4">Shoprite Mall, ikeja</h5>
                         <a href="#"><span class="distribte5">visit store</span></a>
                        </div>
                      </div>
                </div>
                <div class="w-100"></div>
                <div class="col-sm-4">
                    <div class="media">
                        <img src="{% static './img/Vector (1).png' %}" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0 distribte4">Shoprite Mall, ikeja</h5>
                         <a href="#"><span class="distribte5">visit store</span></a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="media">
                        <img src="{% static './img/Vector (1).png' %}" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0 distribte4">Shoprite Mall, ikeja</h5>
                         <a href="#"><span class="distribte5">visit store</span></a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="media">
                        <img src="{% static './img/Vector (1).png' %}" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0 distribte4">Shoprite Mall, ikeja</h5>
                         <a href="#"><span class="distribte5">visit store</span></a>
                        </div>
                      </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- distribte -->
	{% endblock %}
</body>


</html>