{% extends 'base1.html' %}
{% load static %}
<html lang="en">
  <head>
        <title>
    {{ pagetitle }}
        </title>
    </head>
<body>

            {% block product %}
              <!-- container1 -->
              <section>
                <div class="container product-plantain-container">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <img class="plaintain-hero-img" src="{% static './img/Rectangle 16.png' %}">
                        </div>
                        <div class="col-sm-6  product-plantain">
                            <h1 class="plantain-text">Plantain Chips</h1><br>
                            <h2 class="plantain-text-head">Come home to our extra Crispy<br>
                                 Plantain Chips, we guarantee you<br>
                                  will keep coming for more</h2>
                                  <br>
                                  <p class="plaintain-text-para">
                                    Our fortified brown egg comes fresh daily from our various<br>
                                     farm locations , brimming with healthy goodness and<br>
                                      natural proteins, essential vitamins, calcium and minerals,<br>
                                       and  course our  golden yoke hold more than 90% of<br>
                                        the calcium, iron, phosphorus, zinc, thiamine, vitamin B6, folate,<br>
                                         vitamin B12, and pantothenic acid of the egg.
                                  </p>
                        </div>
                    </div>
                </div>
              </section>
              <!-- container1 -->

              <!-- products-img -->
              <section>
                <div class="container plaintain-product-img">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <img class="product-img-1" src="{% static './img/Rectangle 17.png' %}">
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <img class="product-img-2" src="{% static './img/Rectangle 18.png' %}">
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <img class="product-img-3"src="{% static './img/Rectangle 19.png' %}">
                        </div>
                    </div>
                </div>
              </section>
              <!-- products-img -->

              <!-- egg product -->
              <div class="container egg-product-container">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <h1 class="egg-text">Eggs</h1><br>
                        <p>Our fortified brown egg comes fresh daily from our various<br>
                             farm locations , brimming with healthy goodness and<br>
                              natural proteins, essential vitamins, calcium and minerals,<br>
                               and  course our  golden yoke hold more than 90% of the<br>
                                calcium, iron, phosphorus, zinc, thiamine, vitamin B6,<br>
                                 folate, vitamin B12, and pantothenic acid of the egg.</p>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <img class="egg-mobile " src="{% static './img/Rectangle 20.png' %}">
                    </div>
                </div>
              </div>
              <!-- egg product -->

              <!-- egg product img -->
              <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6 egg-product-1">
                            <img class="egg-product-2" src="{% static './img/Rectangle 29.png' %}">
                        </div>
                        <div class="col-sm-4 col-xs-6 egg-product-1">
                            <img class="egg-product-2" src="{% static './img/Rectangle 26.png' %}">
                        </div>
                        <div class="col-sm-4 col-xs-6 egg-product-1">
                            <img class="egg-product-2" src="{% static './img/Rectangle 24.png' %}">
                        </div>
                    </div>
                </div>
              </section>
              <!-- egg product img -->


                <!-- distribte -->
    <section>
        <div class="container distribte1">
            <div class="row">
                <div class="col">
                    <p class="distribte2">Nationwide distribution </p><br>
                    <h2 class="distribte3">Where to Buy the products</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-sm-4 ">
                    <div class="media">
                        <img src="{% static './img/Vector (1).png' %}" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0 distribte4">Shoprite Mall, ikeja</h5>
                         <a href="#"><span class="distribte5">visit store</span></a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="media">
                        <img src="{% static './img/Vector (1).png' %}" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0 distribte4">Shoprite Mall, ikeja</h5>
                         <a href="#"><span class="distribte5">visit store</span></a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="media">
                        <img src="{% static './img/Vector (1).png' %}" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0 distribte4">Shoprite Mall, ikeja</h5>
                         <a href="#"><span class="distribte5">visit store</span></a>
                        </div>
                      </div>
                </div>
                <div class="w-100"></div>
                <div class="col-sm-4">
                    <div class="media">
                        <img src="{% static './img/Vector (1).png' %}" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0 distribte4">Shoprite Mall, ikeja</h5>
                         <a href="#"><span class="distribte5">visit store</span></a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="media">
                        <img src="{% static './img/Vector (1).png' %}" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0 distribte4">Shoprite Mall, ikeja</h5>
                         <a href="#"><span class="distribte5">visit store</span></a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="media">
                        <img src="{% static './img/Vector (1).png' %}" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0 distribte4">Shoprite Mall, ikeja</h5>
                         <a href="#"><span class="distribte5">visit store</span></a>
                        </div>
                      </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- distribte -->
	
	{% endblock %}
    
</body>

</html>